body{ /*Corpo da pagina*/
    background-color: silver; /*cor do fundo da página*/
    color: black; /*cor do texto*/
    margin: 0 auto; /*Centralização*/
}

*exp{ /*fonte e formatação dos elementos da página*/
    font-family: Verdana;
    
}

h3{ /*Cor do titulo da pagina*/
    color: rgb(0, 0, 0); /*cor do texto*/
    text-align: center; /*Alinhando o titulo do texto*/
    border-radius: 4px;
    margin-left: 5px;
    padding: 10px;
}

fieldset{ /*Formatação da bora ao redor do formulario*/
    width: 60%; /*Largura*/
    margin: 0 auto; /*Centralização do formulario*/
    border-radius: 15px; /*Borda Arredondada*/
    background-color: white; /*Cor de fundo*/
    box-shadow: 2px, 2px, 2px gray; /*Sombra na Caixa*/
}

input{ /*Formatação do campo de entrada, seleção e área de texto*/
    border-radius: 4px; /*Arrendondamento das boras*/
    padding: 10px; /*Definindo margem interna*/
    margin:5px;  /*Definindo margem externa*/
}

select{
    border-radius: 4px; /*Arrendondamento das boras*/
    padding: 10px; /*Definindo margem interna*/
    margin:5px;  /*Definindo margem externa*/
}

textarea{
    border-radius: 4px; /*Arrendondamento das boras*/
    padding: 10px; /*Definindo margem interna*/
    margin:5px;  /*Definindo margem externa*/
}

label{/*Texto antes dos campos*/
    font-weight: bold; /*Colocando texto em negrito*/
    text-align: center;
    margin-left: 15% auto; /*Centralização do formulario*/
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}
.button.submit { background-color: #4CAF50; }
.button.clear { background-color: #f44336; }
.button:hover { opacity: 0.9; }